/*
==========================================================================
   Footer
==========================================================================
*/

#footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .arrow-icon {
        position: initial;
        margin-bottom: $base-margin;
        transform: rotate(180deg);

        & * {
            fill: $dark-font-color;
        }
        &:hover * {
            fill: $light-secondary-font-color;
        }
    }
}
