/*
==========================================================================
   Global
==========================================================================
*/

$main-font-family: 'Fira Code', monospace;

$dark-bg-color: #17223b;
$dark-secondary-bg-color: #263859;
$light-bg-color: white;
$light-secondary-bg-color: white;

$dark-font-color: #282828;
$light-font-color: white;
$light-secondary-font-color: #458588;
$dark-secondary-font-color: #ff6768;

$base-margin: 100px;
$main-container-size: 1300px;

$breakpoints: (
    phone: 575px,
    small-tablet: 700px,
    tablet: 900px,
    laptop: 1280px,
    desktop: 1400px,
);

@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500,700&display=swap');
@import './home.scss';
@import './stack.scss';
@import './work.scss';
@import './footer.scss';

html {
    scroll-behavior: smooth;
}
body {
    font-family: $main-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
a {
    text-decoration: none;
    color: initial;
}
.section {
    background-color: $light-bg-color;
    color: $dark-font-color;
}
.section-title {
    font-size: 42px;
    font-weight: 500;
    margin: $base-margin 0;
    width: 90%;

    & > a {
        color: $dark-font-color;
        transition: color 0.5s;
    }
    &:hover > a {
        color: $light-secondary-font-color;
    }
}

/*
   Dark Theme
==========================================================================
*/

.dark-theme {
    .section-title {
        & > a {
            color: $light-font-color;
        }
        &:hover > a {
            color: $dark-secondary-font-color;
        }
    }
    .generic-section {
        background-color: $dark-bg-color;
        color: $light-font-color;
    }
    .work-section {
        button {
            background-color: $dark-bg-color;
        }
        svg:hover {
            fill: $dark-secondary-font-color;
        }
    }
    .work-card {
        background-color: $dark-secondary-bg-color;
        a {
            color: $light-font-color;
        }
    }
    .project-title {
        &:hover > a {
            color: $dark-secondary-font-color;
        }
    }
    #footer {
        .arrow-icon {
            & * {
                fill: $light-font-color;
            }
            &:hover * {
                fill: $dark-secondary-font-color;
            }
        }
    }
}

@media (max-width: map-get($breakpoints, phone)) {
    .section-title {
        font-size: 30px;
    }
}
