/*
==========================================================================
   Header
==========================================================================
*/

#header {
    position: fixed;
    top: 50px;
    left: 70px;
}
.nav-item {
    color: white;
    font-size: 22px;
    margin-right: 40px;
    padding-bottom: 5px;
}
.nav-item.active-item {
    border-bottom: solid white 2px;
}
