/*
==========================================================================
   Header
==========================================================================
*/

#header {
    height: 60px;
    padding: 30px 0 0 50px;
    position: fixed;
    transition: padding 0.3s ease-out;
    width: 100%;

    & *:hover {
        color: $secondary-font-color;

        & a:hover .active-item-border {
            background-color: $secondary-font-color;
        }
    }
    &.dark-background {
        padding-top: 0;
        background-color: $dark-bacckground-color;
    }
}
.site-navigation {
    align-items: center;
    display: flex;
    height: 100%;
}
.nav-item {
    align-items: center;
    color: white;
    display: flex;
    font-size: 22px;
    height: 100%;
    margin-right: 40px;
    position: relative;
    transition: all 0.25s;
}
.active-item-border {
    background-color: $light-font-color;
    bottom: 0;
    height: 3px;
    position: absolute;
    transition: all 0.25s;
    width: 100%;
}
