/*
==========================================================================
   Home section
==========================================================================
*/

.home-section {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    color: $light-font-color;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.arrow-icon {
    $arrow-width: 64px;

    bottom: $base-margin / 2;
    left: calc(50% - (#{$arrow-width} / 2));
    position: absolute;

    svg {
        width: $arrow-width;
    }
    path {
        transition: fill 0.3s;
    }
    &:hover path {
        fill: $dark-font-color;
    }
}

/*
   Presentation
==========================================================================
*/

.presentation-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 34px;
}
.presentation-photo {
    border-radius: 50%;
    margin-bottom: $base-margin / 2;
    width: 200px;
}
.presentation-title {
    font-size: 2em;
    margin: 0;
    width: 90%;
}
.presentation-description {
    font-size: 1em;
    margin: 10px 0 ($base-margin / 2);
}
.socials-container {
    display: flex;

    a:nth-last-of-type(2) {
        margin: 0 ($base-margin / 2);
    }
    & * {
        transition: fill 0.3s;
    }
    a:hover * {
        fill: $dark-font-color;
    }
}

/*
   Responsive
==========================================================================
*/

@media (max-width: map-get($breakpoints, laptop)) {
    $arrow-width: 45px;

    .arrow-icon {
        bottom: $base-margin / 4;
        left: calc(50% - (#{$arrow-width} / 2));

        svg {
            width: $arrow-width;
        }
    }
}

@media (max-width: map-get($breakpoints, tablet)) {
    .presentation-container {
        font-size: 26px;
    }
    .presentation-photo {
        height: 160px;
        margin-bottom: 30px;
        width: 160px;
    }
    .presentation-description {
        width: 90%;
    }
}

@media (max-width: map-get($breakpoints, small-tablet)) {
    .presentation-container {
        font-size: 20px;
    }
}

@media (max-width: map-get($breakpoints, phone)) {
    .presentation-container {
        font-size: 18px;
    }
    .presentation-photo {
        height: 130px;
        width: 130px;
    }
    .presentation-description {
        max-width: 275px;
        margin-bottom: 30px;
    }
    .socials-container {
        justify-content: space-evenly;
        width: 100%;

        a:nth-last-of-type(2) {
            margin: 0;
        }
    }
    .arrow-icon {
        bottom: 20px;
    }
}
