/*
==========================================================================
   Work section
==========================================================================
*/

.work-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $base-margin;
    position: relative;

    > button {
        -webkit-appearance: none;
        background-color: $light-bg-color;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 24px;
        outline: none;
        transition: fill 0.3s;

        > svg {
            height: 32px;
            width: 32px;
        }
    }
    svg:hover {
        fill: $light-secondary-font-color;
    }
}
.work-card {
    align-items: center;
    background-color: $light-secondary-bg-color;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: ($base-margin / 2) 0;
    max-width: $main-container-size;
    width: 90%;

    a {
        color: $dark-font-color;
        width: 100%;
    }
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}
.project-screenshot {
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    max-width: $main-container-size;
    width: 100%;
}
.project-title {
    font-size: 1.9em;
    font-weight: 500;
    margin: ($base-margin / 2) 0 20px;
    width: 90%;

    & > a {
        transition: color 0.5s;
    }
    &:hover > a {
        color: $light-secondary-font-color;
    }
}
.project-description {
    font-size: 1em;
    margin: 0 0 ($base-margin / 2);
    width: 90%;
}

/*
   Responsive
==========================================================================
*/

@media (max-width: map-get($breakpoints, small-tablet)) {
}

@media (max-width: map-get($breakpoints, phone)) {
    .work-card {
        font-size: 16px;
    }
}
