/*
==========================================================================
   Work section
==========================================================================
*/

.work-section {
    background-color: white;
    height: 100vh;
    width: 100%;
}
